* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body {
  min-width: 500px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* VAR */

:root {
  --gap: 15px;
  --txt-op: rgba(255, 255, 255, 0.4);
  --width: 230px;
  --bar: 90px;
  --mainbg: #141922;
  --playbg: #282828;
}

/* * * IMPOSTAZIONI FONTS * * */

/* NAV */
#nav h2 {
  font-size: 14px;
}

#nav li {
  font-size: 1rem;
  color: var(--txt-op);
}

#nav li:hover {
  color: white;
}

/* GENRE SELECTION */

#gen li {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--txt-op);
}

#gen li:hover {
  color: white;
}

/* ALBUMS SECTION */

#album p {
  font-size: 12px;
}

#album h2 {
  font-size: 1.5rem;
}

#album h3 {
  font-size: 1rem;
}

/* PLAYER */

#play h2 {
  font-size: 12px;
}

#play h2:hover {
  text-decoration: underline;
}

#play p {
  font-size: 10px;
  color: var(--txt-op);
}

#play p:hover {
  text-decoration: underline;
  color: white;
}

#play .time {
  font-size: 10px;
}

/* ****** MAIN ****** */

.vh-wrap {
  height: 100vh;
  width: 100%;
}

main {
  height: calc(100vh - var(--bar));
  overflow: hidden;
}

/* *** LEFT NAV MENU *** */
#nav {
  float: left;
  width: var(--width);
  height: 100%;
  background-color: black;
}

/* ** * CONTENT * ** */

#content {
  background-color: var(--mainbg);
  float: left;
  width: calc(100% - var(--width));
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* *** UPGRADE SECTION TOP *** */

.upgrade {
  background-color: rgba(black, 0.4);
  height: var(--bar);
}

/* * * * FOOTER * * * */

footer {
  height: var(--bar);
  background-color: var(--playbg);
}
