* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

body {
  min-width: 500px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

/* VAR */

:root {
  --gap: 15px;
  --txt-op: rgba(255, 255, 255, 0.4);
  --width: 230px;
  --bar: 90px;
  --mainbg: #141922;
  --playbg: #282828;

  --s: 10px;
  --m: 15px;
  --l: 20px;
  --xl: 25px;
  --xxl: 30px;
}

/* * * IMPOSTAZIONI FONTS * * */

/* NAV */
#nav h2 {
  font-size: 14px;
}

#nav li {
  font-size: 13px;
  color: var(--txt-op);
}

#nav li:hover {
  color: white;
}

/* GENRE SELECTION */

#gen li {
  text-transform: uppercase;
  font-size: 13px;
  color: var(--txt-op);
}

#gen li:hover {
  color: white;
}

/* ALBUMS SECTION */

#album p {
  font-size: 12px;
}

#album h2 {
  font-size: 1.5rem;
}

#album h3 {
  font-size: 1rem;
}

/* PLAYER */

#play h2 {
  font-size: 12px;
}

#play h2:hover {
  text-decoration: underline;
}

#play p {
  font-size: 10px;
  color: var(--txt-op);
}

#play p:hover {
  text-decoration: underline;
  color: white;
}

#play .time {
  font-size: 10px;
}

/* ****** MAIN ****** */

.vh-wrap {
  height: 100vh;
  width: 100%;
}

main {
  height: calc(100vh - var(--bar));
  overflow: hidden;
}

.current {
  box-shadow: 3px 0 greenyellow inset;
  color: white !important;
}

/* *** LEFT NAV MENU *** */
#nav {
  float: left;
  width: var(--width);
  height: 100%;
  background-color: black;
}

#nav ul {
  line-height: var(--xxl);
}

#nav li {
  padding: 0 var(--l);
}

#nav .logo {
  height: var(--bar);
  padding: var(--xl);
}

/* ** ** NAV SEZIONI ** ** */
#nav li img {
  width: var(--xl);
  margin-right: var(--s);
  vertical-align: middle;
}

#nav li:not(.current) img {
  opacity: 0.4;
}

#nav li:hover img {
  opacity: 1;
}

/* * ** MENU PLAYLIST ** * */

#nav h2 {
  padding: 0 var(--l);
  margin: var(--m) 0;
}

#nav .playlist li:first-child {
  margin: 5px 0;
}

#nav .playlist li:first-child span::before {
  display: inline-block;
  content: "+";
  font-weight: 500;
  width: 37px;
  height: 37px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 35px;
  text-align: center;
  line-height: 37px;
  vertical-align: middle;
  color: black;
}

#nav .playlist li:first-child:hover span::before {
  background-color: white;
}

/* *** *** PROFILE *** *** */

/* ** * CONTENT * ** */

#content {
  background-color: var(--mainbg);
  float: left;
  width: calc(100% - var(--width));
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

/* *** UPGRADE SECTION TOP *** */

.upgrade {
  background-color: rgba(0, 0, 0, 0.4);
  height: var(--bar);
}

/* * * * FOOTER * * * */

footer {
  height: var(--bar);
  background-color: var(--playbg);
}
